<div class="inner-content">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup" nz-row nzJustify="start">
        <nz-form-item nz-col [nzSpan]="24">
            <nz-form-label nzFor="displayName">Name</nz-form-label>
            <nz-form-control [nzErrorTip]="displayNameErrorTpl">
                <nz-input-group>
                    <input nz-input type="text" formControlName="displayName" name="displayName" id="displayName"
                        autocomplete="off" [disabled]="saving">
                    <ng-template #displayNameErrorTpl let-control>
                        <ng-container *ngIf="control.errors.required">
                            Name is required
                        </ng-container>
                        <ng-container *ngIf="control.errors.maxLength">
                            Name must not be longer than 256 character
                        </ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col [nzSpan]="24">
            <nz-form-label nzFor="description">Description</nz-form-label>
            <nz-form-control [nzErrorTip]="descriptionErrorTpl">
                <app-editable-rich-text formControlName="description" name="description" id="description"
                    [disabled]="saving">
                </app-editable-rich-text>
                <ng-template #descriptionErrorTpl let-control>
                    <ng-container *ngIf="control.errors.required">
                        Description is required
                    </ng-container>
                    <ng-container *ngIf="control.errors.maxlength">
                        Description is too long
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col [nzMd]="4" [nzSm]="24">
            <nz-form-label nzFor="timeLimit">Time limit</nz-form-label>
            <nz-form-control [nzErrorTip]="timeLimitErrorTpl">
                <nz-input-number-group [nzAddOnAfter]="timeLimitAddOnAfterTemplate">
                    <nz-input-number nz-input style="width: 100px;" type="number" min="1" max="1000"
                        formControlName="timeLimit" name="timeLimit" id="timeLimit" autocomplete="off"
                        [disabled]="saving">
                    </nz-input-number>
                    <ng-template #timeLimitAddOnAfterTemplate>
                        <nz-select style="width: 100px;" formControlName="timeUnit" name="timeUnit">
                            <nz-option nzValue="ms" nzLabel="ms"></nz-option>
                            <nz-option nzValue="second" nzLabel="second"></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-input-number-group>
                <ng-template #timeLimitErrorTpl let-control>
                    <ng-container *ngIf="control.errors.minimum">
                        Time limit is too small
                    </ng-container>
                    <ng-container *ngIf="control.errors.maximum">
                        Time limit is too large
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col [nzMd]="4" [nzSm]="24">
            <nz-form-label nzFor="memoryLimit">Memory limit</nz-form-label>
            <nz-form-control [nzErrorTip]="memoryLimitErrorTpl">
                <nz-input-number-group [nzAddOnAfter]="memoryLimitAddOnAfterTemplate">
                    <nz-input-number nz-input style="width: 100px;" type="number" min="1" max="1024"
                        formControlName="memoryLimit" name="memoryLimit" id="memoryLimit" autocomplete="off"
                        [disabled]="saving">
                    </nz-input-number>
                    <ng-template #memoryLimitAddOnAfterTemplate>
                        <nz-select style="width: 100px;" formControlName="memoryUnit" name="memoryUnit">
                            <nz-option nzValue="byte" nzLabel="byte"></nz-option>
                            <nz-option nzValue="kB" nzLabel="kB"></nz-option>
                            <nz-option nzValue="MB" nzLabel="MB"></nz-option>
                            <nz-option nzValue="GB" nzLabel="GB"></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-input-number-group>
                <ng-template #memoryLimitErrorTpl let-control>
                    <ng-container *ngIf="control.errors.minimum">
                        Memory limit is too small
                    </ng-container>
                    <ng-container *ngIf="control.errors.maximum">
                        Memory limit is too large
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col [nzSpan]="24">
            <button nz-button [disabled]="exampleList.length >= 5 && saving" (click)="onAddExampleTestCaseClicked()">
                Add example test case
            </button>
        </nz-form-item>
        <nz-form-item nz-col [nzSpan]="24">
            <nz-table #table [nzData]="exampleList" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Input</th>
                        <th>Output</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let example of table.data; index as i">
                        <td>{{ i + 1 }}</td>
                        <td><code nz-typography [nzContent]="example.input | ellipsis:100 "></code></td>
                        <td><code nz-typography [nzContent]="example.output | ellipsis:100 "></code></td>
                        <td>
                            <nz-button-group>
                                <button nz-button nz-tooltip="Edit" [disabled]="saving"
                                    (click)="onExampleEditClicked(i)">
                                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                                </button>
                                <button nz-button nzDanger [disabled]="saving" (click)="onExampleDeleteClicked(i)">
                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                </button>
                            </nz-button-group>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-form-item>
        <nz-form-item nz-col [nzSpan]="24">
            <button nz-button nzType="primary" [disabled]="!formGroup.valid || saving" (click)="onSaveClicked()">
                Save
            </button>
        </nz-form-item>
    </form>
</div>
<ng-template #editExampleModal>
    <app-test-case-editor-modal [(input)]="editExampleModalInput" [(output)]="editExampleModalOutput" [isHidden]="null">
    </app-test-case-editor-modal>
</ng-template>