<div nz-row>
    <div nz-col [nzLg]="sessionAccount?.role === 'admin' || sessionAccount?.role === 'contestant'? 8 : 24" [nzMd]="24"
        class="problem">
        <nz-tabset #problemTabSet>
            <nz-tab nzTitle="Description">
                <ng-container *ngIf="problem">
                    <nz-descriptions [nzColumn]="1" [nzBordered]="true" nzSize="small">
                        <nz-descriptions-item nzTitle="Author">
                            {{ problem.author.displayName }}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Last update">
                            {{ problem.updatedTime | date:'short'}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Time limit">
                            {{ problem.timeLimitInMillisecond | timeLimit}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Memory limit">
                            {{ problem.memoryLimitInByte | memory}}
                        </nz-descriptions-item>
                    </nz-descriptions><br />
                    <p *ngIf="sessionAccount?.role === 'admin' || sessionAccount?.role === 'problem_setter'">
                        <button nz-button routerLink="/problem-editor/{{problem.iD}}">
                            Edit problem
                        </button>
                    </p>
                    <span nz-typography [innerHTML]="problem.description | katex"></span>
                </ng-container>
            </nz-tab>

            <nz-tab nzTitle="Test cases">
                <app-test-case-list *ngIf="problem" [problemID]="problem.iD"></app-test-case-list>
            </nz-tab>

            <nz-tab nzTitle="Submissions" #submissionTab>
                <ng-template nz-tab>
                    <app-submission-list *ngIf="problem" [problemID]="problem.iD"></app-submission-list>
                </ng-template>
            </nz-tab>
        </nz-tabset>
    </div>

    <div *ngIf="sessionAccount?.role === 'admin' || sessionAccount?.role === 'contestant'" nz-col [nzLg]="16"
        [nzMd]="24">
        <app-code-editor [(content)]="submissionContent" [(language)]="submissionLanguage"
            (submitClicked)="onSubmitClicked()"></app-code-editor>
    </div>
</div>