<div class="inner-content">
    <p nz-typography>
        <nz-switch [(ngModel)]="autoReloadEnabled"
            (ngModelChange)="onAutoReloadEnabledChange($event)"></nz-switch>&nbsp;
        Enable auto-reload
    </p>
    <p *ngIf="lastLoadedTime !== undefined" nz-typography>
        Last updated at {{ lastLoadedTime | date:'long' }}
    </p>
    <nz-table #table [nzData]="submissionSnippetList" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzTotal]="totalSubmissionCount" [nzLoading]="loading" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)">
        <thead>
            <tr>
                <th>Problem</th>
                <th>Author</th>
                <th>Language</th>
                <th>Created time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let submissionSnippet of table.data">
                <td>
                    <a routerLink="/problem/{{ submissionSnippet.problem.iD }}">
                        {{ submissionSnippet.problem.displayName }}
                    </a>
                </td>
                <td>{{ submissionSnippet.author.displayName }}</td>
                <td>{{ submissionSnippet.language| language }}</td>
                <td>{{ submissionSnippet.createdTime | date:'short' }}</td>
                <td>{{ submissionSnippet | submissionStatus }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>