<div class="inner-content">
    <div nz-row nzJustify="space-around">
        <form nz-form nz-col [formGroup]="profileForm" nzSpan="24" nzLg="12">
            <nz-form-item>
                <nz-form-label nzFor="displayName" [nzMd]="8" [nzSm]="24">Display name</nz-form-label>
                <nz-form-control [nzErrorTip]="displayNameErrorTpl" [nzMd]="16" [nzSm]="24">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="displayName"
                            placeholder="No more than 32 character long" name="displayName" nzRequired />
                        <ng-template #displayNameErrorTpl let-control>
                            <ng-container *ngIf="control.errors.required">
                                Please enter your display name
                            </ng-container>
                            <ng-container *ngIf="control.errors.minLength">
                                Display name must be at least 1 character long
                            </ng-container>
                            <ng-container *ngIf="control.errors.maxLength">
                                Display name must not be longer than 32 character
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="password" [nzMd]="8" [nzSm]="24">Password</nz-form-label>
                <nz-form-control [nzErrorTip]="passwordErrorTpl" [nzMd]="16" [nzSm]="24">
                    <nz-input-group>
                        <input type="password" nz-input formControlName="password"
                            placeholder="Leave blank if you don't want to change" name="password" />
                        <ng-template #passwordErrorTpl let-control>
                            <ng-container *ngIf="control.errors.minLength">
                                Password must be at least 8 character long
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="passwordConfirm" nz-col [nzMd]="8" [nzSm]="24">Verify password</nz-form-label>
                <nz-form-control [nzErrorTip]="passwordConfirmErrorTpl" [nzMd]="16" [nzSm]="24">
                    <nz-input-group>
                        <input type="password" nz-input formControlName="passwordConfirm" name="passwordConfirm" />
                        <ng-template #passwordConfirmErrorTpl let-control>
                            <ng-container *ngIf="control.errors.confirmed">
                                Two passwords that you entered are not equal
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-control nzOffset="8" nzSpan="16">
                    <button nz-button [nzType]="'primary'" [disabled]="profileForm.invalid" (click)="onUpdateClicked()">
                        Update
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>