<nz-descriptions [nzColumn]="1" [nzBordered]="true" nzSize="small">
    <nz-descriptions-item nzTitle="Author">
        {{ problem.author.displayName }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Created time">
        {{ problem.createdTime | date:'d/M/yyyy, h:mm a':'d/M/yyyy, h:mm a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Update time">
        {{ problem.updatedTime | date:'d/M/yyyy, h:mm a':'d/M/yyyy, h:mm a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Time limit">
        {{ problem.timeLimitInMillisecond | timeLimit}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Memory limit">
        {{ problem.memoryLimitInByte | memory}}
    </nz-descriptions-item>
</nz-descriptions><br />
<p *ngIf="sessionAccount?.role === 'admin' ||
                         (sessionAccount?.role === 'problem_setter' && sessionAccount?.iD === problem.author.iD)">
    <nz-button-group>
        <button nz-button routerLink="/problem-editor/{{problem.uUID}}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
            Edit
        </button>
        <button nz-button nzDanger (click)="onDeleteClicked()">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
            Delete
        </button>
    </nz-button-group>
</p>
<div nz-typography>
    <div #problemDescriptionContainer [innerHTML]="problem.description"></div>
</div>
<ng-container *ngIf="problem.exampleList.length > 0">
    <h4 nz-typography>Examples</h4>
    <nz-table #table [nzData]="problem.exampleList" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>#</th>
                <th>Input</th>
                <th>Output</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let example of table.data; index as i">
                <td>{{ i + 1 }}</td>
                <td><code nz-typography [nzContent]="example.input | ellipsis:100" nzCopyable="true"></code></td>
                <td><code nz-typography [nzContent]="example.output | ellipsis:100" nzCopyable="true"></code></td>
                <td>
                    <button nz-button nz-tooltip="Expand" (click)="onExampleExpandClicked(example)">
                        <span nz-icon nzType="expand-alt" nzTheme="outline"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>
<ng-template #expandTestCaseModal>
    <app-test-case-view-modal [input]="expandExampleModalInput" [output]="expandExampleModalOutput">
    </app-test-case-view-modal>
</ng-template>
<ng-template #expandTestCaseModalFooter>
    <button nz-button (click)="onExpandTestCaseModalCopyInputClicked()">
        <span nz-icon nzType="copy" nzTheme="outline"></span> Copy input
    </button>
    <button nz-button (click)="onExpandTestCaseModalCopyOutputClicked()">
        <span nz-icon nzType="copy" nzTheme="outline"></span> Copy output
    </button>
</ng-template>