<div class="inner-content">
    <button *ngIf="sessionAccount?.role === 'admin' || sessionAccount?.role === 'problem_setter'" nz-button
        class="create-problem-button" routerLink="/problem-editor">
        Create problem
    </button>
    <nz-table #table [nzBordered]="true" [nzData]="problemSnippetList" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzTotal]="totalProblemCount" [nzLoading]="loading" [nzShowSizeChanger]="true" [nzFrontPagination]="false"
        [nzPageSizeOptions]="[10, 20, 50, 100]" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Author</th>
                <th>Created time</th>
                <th>Update Time</th>
                <th *ngIf="sessionAccount?.role === 'admin' || sessionAccount?.role === 'problem_setter'">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let problemSnippet of table.data" routerLink="/problem/{{ problemSnippet.iD }}">
                <td>{{ problemSnippet.iD }}</td>
                <td><a routerLink="/problem/{{ problemSnippet.iD }}">{{ problemSnippet.displayName }}</a></td>
                <td>{{ problemSnippet.author.displayName }}</td>
                <td>{{ problemSnippet.createdTime | date:'d/M/yyyy, h:mm a':'d/M/yyyy, h:mm a' }}</td>
                <td>{{ problemSnippet.updatedTime | date:'d/M/yyyy, h:mm a':'d/M/yyyy, h:mm a' }}</td>
                <td *ngIf="sessionAccount?.role === 'admin' || sessionAccount?.role === 'problem_setter'">
                    <nz-button-group *ngIf="sessionAccount?.role === 'admin' || 
                        (sessionAccount?.role === 'problem_setter' && sessionAccount?.iD === problemSnippet.author.iD)"
                        (click)="$event.stopPropagation()">
                        <button nz-button nz-tooltip="Edit" routerLink="/problem-editor/{{problemSnippet.iD}}">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                        </button>
                        <button nz-button nz-tooltip="Delete" nzDanger
                            (click)="onProblemSnippetDeleteClicked(problemSnippet)">
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>
                    </nz-button-group>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>