@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/material.css";
@import "../node_modules/katex/dist/katex.min.css";

.inner-content {
  margin: 24px;
  padding: 24px;
  background: #fff;
  height: calc(100vh - 112px);
  overflow: scroll;
}

.CodeMirror {
  height: 100%;
}
